<ion-view>
    <ion-content class="padding text-center">
        <h3>Cambiar contraseña</h3>
        <p>Cambia tu contraseña, introduce tu contraseña actual e introduce la nueva.</p>
        <form class="profileDataForm" name="passwordForm" ng-submit="passCtrl.changePassword(passwordForm);" novalidate>
            <div class="list">
                <label class="item item-input noBorder noBackground">
                    <div class="row">
                        <div class="col"><span class="input-label">Contraseña actual</span></div>
                        <div class="col"><input required type="password" ng-model="passCtrl.password.old" name="password" class="white-bg" minlength="8"></div>
                    </div>
                </label>
                <div class="form-errors" ng-show="passwordForm.password.$invalid && (passwordForm.password.$touched || passwordForm.$submitted)" ng-messages="passwordForm.password.$error">
                    <div class="form-error assertive padding" ng-show="passwordForm.password.$error.required">Falta este campo.</div>
                    <div class="form-error assertive padding" ng-show="passwordForm.password.$error.minlength">Mínimo 8 carateres.</div>
                </div>
                <label class="item item-input noBorder noBackground">
                    <div class="row">
                        <div class="col"><span class="input-label">Nueva contraseña</span></div>
                        <div class="col"><input required type="password" ng-model="passCtrl.password.new" name="password_new" class="white-bg" minlength="8"></div>
                    </div>
                </label>
                <div class="form-errors" ng-show="passwordForm.password_new.$invalid && (passwordForm.password_new.$touched || passwordForm.$submitted)">
                    <div class="form-error assertive padding" ng-show="passwordForm.password_new.$error.required">Falta este campo.</div>
                    <div class="form-error assertive padding" ng-show="passwordForm.password_new.$error.minlength">Mínimo 8 carateres.</div>
                </div>
                <label class="item item-input noBorder noBackground">
                    <div class="row">
                        <div class="col"><span class="input-label">Repetir contraseña</span></div>
                        <div class="col"><input required type="password" ng-model="passCtrl.password.repeat" name="password_repeat" class="white-bg" minlength="8" ng-chage="passCtrl.checkMatches(passwordForm);"></div>
                    </div>
                </label>
                <div class="form-errors" ng-show="passwordForm.password_repeat.$invalid && (passwordForm.password_repeat.$touched || passwordForm.$submitted)">
                    <div class="form-error assertive padding" ng-show="passwordForm.password_repeat.$error.required">Falta este campo.</div>
                    <div class="form-error assertive padding" ng-show="passwordForm.password_repeat.$error.minlength">Mínimo 8 carateres.</div>
                    <div class="form-error assertive padding" ng-show="passwordForm.password_repeat.$error.matches">La contraseña no coincide.</div>
                </div>
            </div>
            <div class="mTop20">
                <div ng-if="passCtrl.loading" class="text-center">
                    <ion-spinner></ion-spinner>
                </div>
                <button class="button" ng-if="!passCtrl.loading"><i class="icon ion-checkmark"></i> <strong>Cambiar</strong></button>
            </div>
        </form>
    </ion-content>
</ion-view>
