<ion-view view-title="<i class='openy icon-preferencias'></i> Crear cuenta">
    <ion-content class="padding">
        <form role="form" class="loginForm" name="registerForm" novalidate="on" ng-submit="rgstrCtl.register(registerForm);">
            <label class="" ng-class="{ 'has-error' : registerForm.email.$invalid && (registerForm.email.$touched || registerForm.$submitted)}">
                <span class="input-label">Correo electrónico</span>
                <input type="email" required ng-model="data.email" name="email" placeholder="Correo electrónico" tabindex="1" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
            </label>
            <div class="form-errors" ng-show="registerForm.email.$invalid && (registerForm.email.$touched || registerForm.$submitted)" ng-messages="registerForm.email.$error">
                <div class="form-error assertive padding" ng-message="required">Falta este campo.</div>
                <div class="form-error assertive padding" ng-message="email">Debe contener un email válido.</div>
            </div>
            <div ng-if="!myUser">
                <label class="" ng-class="{ 'has-error' : registerForm.password.$invalid && (registerForm.password.$touched || registerForm.$submitted)}">
                    <span class="input-label">Contraseña</span>
                    <input type="password" required ng-model="data.password" minlength="8" name="password" placeholder="Contraseña" tabindex="2">
                </label>
                <div class="form-errors" ng-show="registerForm.password.$invalid && (registerForm.password.$touched || registerForm.$submitted)" ng-messages="registerForm.password.$error">
                    <div class="form-error assertive padding" ng-message="required">Falta este campo.</div>
                    <div class="form-error assertive padding" ng-message="minlength">Mínimo 8 carateres.</div>
                </div>
                <div class="row row-center">
                    <div class="col col-80 fsSbig text-right"><strong>Recordar</strong></div>
                    <div class="col text-right">
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="data.keepSession">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <label class="" ng-class="{ 'has-error' : registerForm.first_name.$invalid && (registerForm.first_name.$touched || registerForm.$submitted)}">
                <span class="input-label">Nombre</span>
                <input type="text" required name="first_name" ng-model="data.first_name" placeholder="Nombre" tabindex="4">
            </label>
            <div class="form-errors" ng-show="registerForm.first_name.$invalid && (registerForm.first_name.$touched || registerForm.$submitted)" ng-messages="registerForm.name.$error">
                <div class="form-error assertive padding" ng-message="required">Falta este campo.</div>
            </div>
            <label class="" ng-class="{ 'has-error' : registerForm.last_name.$invalid && (registerForm.last_name.$touched || registerForm.$submitted)}">
                <span class="input-label">Apellidos</span>
                <input type="text" required name="last_name" ng-model="data.last_name" placeholder="Apellidos" tabindex="5">
            </label>
            <div class="form-errors" ng-show="registerForm.last_name.$invalid && (registerForm.last_name.$touched || registerForm.$submitted)" ng-messages="registerForm.last_name.$error">
                <div class="form-error assertive padding" ng-message="required">Falta este campo.</div>
            </div>
            <label class="" ng-class="{ 'has-error' : registerForm.phone.$invalid && (registerForm.$submitted || registerForm.phone.$touched) }">
                <span class="input-label">Teléfono móvil</span>
                <input type="tel" ng-pattern="/^(6|7)/" minlength="9" ng-model="data.phone" maxlength="9" required name="phone"  placeholder="Teléfono móvil" tabindex="6">
            </label>
            <div class="form-errors" ng-show="registerForm.phone.$invalid && (registerForm.$submitted || registerForm.phone.$touched)" ng-messages="registerForm.phone.$error">
                <div class="form-error assertive padding" ng-message="required">Falta este campo.</div>
                <div class="form-error assertive padding" ng-message="phone">Introduce un móvil válido de 9 dígitos.</div>
            </div>
            <div class="text-right mTop20">
                <button ng-if="!rgstrCtl.loading" type="submit" class="button openy-bg noBorder"><strong ng-show="!myUser">Registrar</strong><strong ng-show="myUser">Validar</strong></button>
                <div ng-if="rgstrCtl.loading" class="text-center">
                    <ion-spinner></ion-spinner>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
